body {
  background-color: #f4f4f4;
  /* TODO */
  display: flex;
  /* TODO */
  justify-content: center;
  /* TODO */
  align-items: center;
  /* TODO */
  height: 100vh;
}

.rounded-button {
  width: 150px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px; /* Rounded edges */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.rounded-button:hover {
  background-color: #0056b3;
}
