<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Bar Component</title>
    <link rel="stylesheet" href="progress.css">
  </head>
  <body>
    <div class="progress-container">
      <div class="progress-bar" id="progress-bar"></div>
    </div>
    <!-- Button to increase progress -->
    <button onclick="increaseProgress()">Increase Progress</button>
  <script src="pogress.js"></script>
  </body>
</html>