/* How to access a given element */

/* all div tags */
div{}
/* all tags with class name */
.divClassName{}
/* all tags with id name */
#divIdName{}
/* all a tags with this attribute and value */
a[href=""]{}
/* all a tags that have this psuedo class */
a:hover{}
/* psuedo-element within p tag */
p::first-line{}
/* all immedieate children that are p tags of div tags */
div > p{}
/* above combos can be combined via , separated lists */

div{
  /* box model/container of element/out -> in */
  /* margin */
  margin:	  /* Sets the margin (outside spacing) for an element. */
  margin-top:	  /* Sets the top margin (outside spacing) for an element. */
  margin-right:	  /* Sets the right margin (outside spacing) for an element. */
  margin-bottom:	  /* Sets the bottom margin (outside spacing) for an element. */
  margin-left:	  /* Sets the left margin (outside spacing) for an element. */

  /* border */
  border:	  /* Specifies a border for an element */
  border-top:	 /* Sets the top border of the element. */
  border-top-color:	 /* Sets the color of the top border. */
  border-top-left-radius:	 /* Sets the border radius of the top left corner. */
  border-top-right-radius:	 /* Sets the border radius of the top right corner. */
  border-top-style:	 /* Sets the style of the top border. */
  border-top-width:	 /* Sets the width of the top border. */
  border-right:	 /* Sets the right border of the element. */
  border-right-color:	 /* Sets the color of the right border. */
  border-right-style:	 /* Sets the style of the right border. */
  border-right-width:	 /* Sets the width of the right border. */
  border-bottom: /* Specifies a bottom border for an element. */
  border-bottom-color	Sets:  /* the color of a bottom border . */
  border-bottom-left-radius:	 /* Sets the border radius of the bottom left corner. */
  border-bottom-right-radius:	 /* Sets the border radius of the bottom right corner */
  border-bottom-style:	 /* Sets the style of the bottom border. */
  border-bottom-width:	 /* Sets the width of the bottom border */
  border-left:	 /* Sets the left border of the element. */
  border-left-color:	 /* Sets the color of the left border. */
  border-left-style:	 /* Sets the style of the left border. */
  border-left-width:	 /* Sets the width of the left border. */

  border-color:	 /* Sets the color of the border. */
  border-radius:	 /* Sets the radius of the border. */
  border-style:	 /* Defines the style of the border */
  border-width:	 /* Sets the border width of the element. */

  border-image:	 /* Defines an image as border, instead of a color. */
  border-image-source:	 /* Specifies the url of the border image file. */
  border-image-width:	 /* Sets the width of the image border. */
  border-image-outset:	 /* Sets how far a border image extends beyond the border. */
  border-image-repeat:	 /* Defines if and how the border image is repeated. */
  border-image-slice:	 /* Defines how the border image will be sliced. */

  /* try this with tables */
  border-collapse:	 /* Sets table borders to single collapsed line or separated. */
  border-spacing:	 /* Sets the adjacent table cell distance. */
  
  /* outline */
  outline:	  /* Adds an outline (highlighted border) to an element. */
  outline-color:	  /* Sets the color of an outline. */
  outline-style:	  /* Sets the style of an outline. */
  outline-width:	  /* Sets the width of an outline. */
  outline-offset:	  /* Sets the space between the outline and border. */
  /* box */
  box-shadow:	 /* Adds a shadow effect to an element. */
  
  /* padding */
  padding:	  /* Sets the spacing between content and element border. */
  padding-top:	  /* Sets the spacing between content and top element border. */
  padding-right:	  /* Sets the spacing between content and right element border. */
  padding-bottom:	  /* Sets the spacing between content and bottom element border. */
  padding-left:	  /* Sets the spacing between content and left element border. */
  
  /* Responsive/different screen sizes */
  /* grid */
  grid:	  /* Defines a grid layout with responsive rows and columns. */
  grid-area:	  /* Sets the size and location of grid items in a grid container. */
  
  grid-auto-columns:	  /* Specifies the size of the columns in a grid container. */
  grid-auto-flow:	  /* Specifies the initial placement of items in a grid container. */
  grid-auto-rows:	  /* Specifies the initial size of the items in a grid container. */
  
  grid-column:	  /* Specifies the size and location of a grid item in a grid container. */
  grid-column-end:	  /* Specifies in which column-line the grid item will end. */
  grid-column-gap:	  /* Specifies the gap size between columns in a grid container. */
  grid-column-start:	  /* Specifies in which column line the grid item will start. */
  
  grid-gap:	  /* Specifies the gap size between grid rows and columns. */
  
  grid-row:  /* Specifies the grid item size and location in a grid container. */
  grid-row-end:	  /* Specifies in which row-line the grid item will end. */
  grid-row-gap:	  /* Specifies the gap size between rows in a grid container. */
  grid-row-start:	  /* Specifies in which row line the grid item will start */
  
  grid-template:	  /* Divides a page into sections with a size, position, and layer. */
  grid-template-areas:	  /* Specifies area in a grid container. */
  grid-template-columns:	  /* Sets the number and width of columns in a grid container. */
  grid-template-rows:	  /* Sets the number and height of rows in a grid container. */

  /* column */
  column-count:	/* Divides an element into the specified number of columns. */
  column-fill:	/* Specifies how divided columns are filled. */
  column-gap:	/* Specifies the space between divided columns. */
  column-rule:	/* Sets the style, width, and color of a column divider. */
  column-rule-color:	/* Sets the color of a column divider. */
  column-rule-style:	/* Sets the style of a column divider. */
  column-rule-width:	/* Sets the width of a column divider. */
  column-span:	/* Sets number of divided columns an element should span. */
  column-width:	/* Specifies the width of a divided column. */
  columns:	/* Divide an element into columns of a certain width. */

  /* flex */
  flex:	/* Specifies the width of the flexible items. */
  flex-grow:	/* Specifies how a flex item can grow inside the container. */
  flex-shrink:	/* Specifies how a flex item can shrink inside the container. */
  flex-basis:	/* Specifies the initial width of a flex item. */
  flex-wrap:/* Specifies how flexible items wrap inside the container. */
  flex-direction:	/* Specifies the direction for the flex item to align. */
  flex-flow:	/* Controls the direction and wrapping of flexible items. */

  justify-content:	/* Defines the alignment of items in a flex container. */

  /* The element itself */
  /* overflow */
  overflow:	  /* Specifies the flow of content that exceeds the container. */
  overflow-x:	  /* Specifies the flow of content that exceeds the container width. */
  overflow-y:	  /* Specifies the flow of content that exceeds the container height. */
  
  /* animation */
  animation: /* Creates an animating element. */
  animation-delay:/* Sets a delay before an animation begins. */
  animation-direction:/* Sets how, in which direction, an animation is played. */
  animation-duration:/* Defines the duration of an animation cycle. */
  animation-fill-mode:/* Defines how styles are applied before and after animation. */
  animation-iteration-count:/* Sets the number of times an animation is played. */
  animation-name:/* Defines a name for the animation. */
  animation-play-state:/* Sets the animation play state to running or paused. */
  animation-timing-function:/* Specifies the animation speed curve. */
  /* transition */
  transition:	  /* Creates transitions from one property value to another. */
  transition-delay:	  /* Creates a delay before the transition effect starts. */
  transition-duration:	  /* Specifies the time the transition will take. */
  transition-property:	  /* Specifies the CSS property that will transition. */
  transition-timing-function:	  /* Defines the speed curve function of the transition. */
  /* transform */
  transform:	/* Applies a 2D or 3D transformation to an element. */
  transform-origin:	/* Sets the origin for the transformation of the element. */
  transform-style:	/* Specifies the display behavior of 3D space nested elements. */
  /* background */
  background:/* Sets the background of an element. */
  background-attachment:/* Defines how the background is attached to an element. */
  background-blend-mode:/* Defines the background layer blending mode. */
  background-clip:/* Defines how background extends beyond the element. */
  background-color:/* Sets the background color of the element. */
  background-image:/* Specifies a background image for an element. */
  background-origin:/* Specifies the background image origin position. */
  background-position:/* Sets the position of a background image. */
  background-repeat:/* Specifies how the background image is repeated. */
  background-size:/* Sets the size of the background image. */
  /* font */
  font:	  /* Sets font family, variant, weight, height, and size for an element. */
  @font-face:	  /* Embeds a custom font inside a web page */
  font-family:	  /* Sets the font family for an element. */
  font-kerning:	  /* Sets the spacing between the font's characters. */
  font-size	Sets:   /* the size of the font for an element. */
  font-size-adjust:	  /* Specifies a fall-back font size. */
  font-stretch:	  /* Sets the text characters to a wider or narrower variant. */
  font-style:	  /* Set the font style to normal, italic, or oblique. */
  font-variant:	  /* Specifies that text is displayed in a small-caps font. */
  font-weight:	  /* Sets the weight or thickness of the font. */
  /* height/weight */
  max-height:	  /* Sets the maximumn height for an element. */
  max-width:	  /* Sets the maximum width for an element. */
  min-height:	  /* Sets the minimum height for an element. */
  min-width:	  /* Sets the minimum width for an element. */
  visibility:	/* Specifies the visibility of an element. */

  all:	/* Resets all element properties to its default or inherited values. */

  width:	/* Sets the width of an element. */
  height:	/* Sets the height of an element. */
  color:	/* Specifies the color of text in an element. */
  opacity:	/* Sets the opacity (transparency) of the element. */

  /* The items inside of an element */
  /* align */
  align-content:/* Aligns items in a flex container along flex lines. */
  align-items: /* Aligns evenly spaced items in a flex container. */
  align-self: normal;/* Aligns an item inside a flex container. */
  /* list */
  list-style:	  /* Defines the markers (bullet points) for items in a list. */
  list-style-image:	  /* Defines an image markers (bullet points) for items in a list. */
  list-style-position:	  /* Sets the marker (bullet point) positions for items in a list */
  list-style-type:	  /* Defines the marker types (bullet points) for items in a list */
  /* object */
  object-fit:	  /* Specifies how an image or video fits inside a container. */
  object-position:	  /* Specifies the image or video position inside a container. */
  /* page break */
  page-break-after:	  /* Adds a print page-break after an element. */
  page-break-before:	  /* Adds a print page-break before an element. */
  page-break-inside:	  /* Specifies if print page-break is allowed inside an element. */
  /* text */
  text-align:	  /* Sets the alignment of text inside an element. */
  text-align-last:	  /* Sets the alignment for the last line of text. */
  text-decoration:	  /* Defines the style and color of underlined text. */
  text-decoration-color:	  /* Defines the color of underlined text. */
  text-decoration-line:	  /* Defines the kind of line to use with text. */
  text-decoration-style:	  /* Defines the style of underlined text. */
  text-indent:	  /* Sets the indentation to the beginning of text. */
  text-justify:	  /* Defines the text justification inside a container. */
  text-overflow:	  /* Sets the display behavior of text that overflows a container. */
  text-shadow:	  /* Adds a shadow effect to text. */
  text-transform:	  /* Defines text capitalization or casing. */
  /* word */
  word-break: /* Specifies how line breaks take place. */
  word-spacing: /* Sets the spacing between words. */
  word-wrap:/* Specifies how long words can be wrapped. */
  direction:/* Specifies the text writing direction of a block-level element. */

  writing-mode: /* Sets the text reading orientation: top to bottom, etc. */

  z-index: /* Sets the vertical stacking order relative to other elements. */
  white-space:	/* Specifies how white-space is handled inside an element. */
  content:	/* Used to insert content before or after an element. */
  display:	/* Specify an element's display behavior. */
  float:	/* Sets how an element is positioned relative to other elements. */
  top:	/* Positions the element from the top of the relative container */
  right:	/* Positions the element from the right of the relative container. */
  bottom:	/* Positions the element from the bottom of the relative container. */
  left:	/* Positions the element from the left of the relative container. */

  letter-spacing:	/* Sets the spacing between characters. */
  line-height:	/* Sets the vertical spacing between lines of text. */
  order:	/* Specifies the order of an item in a flex container. */
  position:	/* Sets the element's positioning method. */
  quotes:	/* Defines the quotation marks to be used on text. */
  scroll-behavior:	/* Specifies the scrolling behavior of an element */
  user-select:	/* Specifies how text can be selected (highlighted) */
  vertical-align:	/* Specifies vertical alignment of an element. */

  /* Uncategorized */
  box-sizing: /* Sets how element height and width are calculated. */
  backface-visibility:/* Shows or hides the backface visibility of an element. */
  clear:	/* Sets the element side that does not allow floating elements. */
  hyphens:	/* Specifies hyphenation with wrap opportunities in a line of text. */
  
  /* image */
  clip:	/* Sets how an image is cropped or clipped inside a container. */
  clip-path:	/* Clips an element inside a specific shape or SVG. */
  filter:	/* Adds an image enhancing effect to an image. */
  
  /* mouse */
  cursor:	/* Specifies the shape of the mouse cursor. */
  pointer-events:	/* Specifies whether element reacts to pointer events or not. */
  caret-color:	/* Sets the color of the blinking mouse caret. */
  
  /* table */
  table-layout: /* Aligns elements according to a table with rows and columns. */
  empty-cells:	/* Specifies whether empty table cell borders will be displayed. */
  caption-side:	/* Defines on which side of the table a caption is placed. */
  
  /* annotations */
  @charset:	/* Specifies the character encoding of the stylesheet. */
  @import:	/* Imports a style sheet inside another style sheet. */
  @keyframes:	/* Defines the CSS style to animate. */
  @media:	/* Applies media queries to a page. */

  /* counter */
  counter-increment:  /* Increase or decrease a CSS counter. */
  counter-reset:	  /* Initialize or reset CSS counter. */
  
  /* perspective */
  perspective:	  /* Adds perspective to a 3D-positioned element. */
  perspective-origin:	  /* Sets the origin of the perspective for a 3D-positioned element. */
}

/* all the values a property can have rem,px,%, absoulute, relative, etc */
div{
  /* if printed out on a paper */
  width: 1in /* 1in = 2.54cm = 96px */
  width: 1cm /* 1cm = 37.8px = 25.2/64 in */
  width: 1pc /* 1pc = 1/6th of 1in */
  width: 1mm /* 1mm = 1/10th of 1cm */
  width: 1pt /* 1pt = 1/72nd of 1in */
  width: 1px /* 1px = 1/96th of 1in */
  width: 1q  /* 1Q = 1/40th of 1cm */

  /* if measured against other screen element */
  width: 1vh /* relative to viewport height */
  width: 1vw /* relative to viewport width */
  width: 1em /* relative to element's or parent element's size */
  width: 1rem /* relative to root element's size*/
  width: 1lh /* relative to element's line height */
  width: 1rlh /* relative to root element's line height*/
  width: 1% /* relative to parent element's size*/

  /* global values */
  width: initial /* default value of property*/
  width: inherit /* gets value from parent */
  width: unset /* set to inherit, otherwise inital */
  width: revert /* removes inherited user defined styles to default */
  width: revert-layer /* removes styles of current layer and sets to one layer above */

  /* color values */
  color: white /* color name */
  color: #123456 /* color hex code */
  color: rgba(0, 0, 0, 0.5) /* color red, green, blue, opacity percentage */
  /* hue angle, saturated, darkness, opacity*/
  color: hsla(180 50% 50% 0.5) /* 0-360 0-100 0-100 0-1 */
  /* hue angle, lightness, darkness, opacity*/
  color: hwba(180 50% 50% 0.5) /* 0-360 0-100 0-100 0-1*/
  /* lightness, amount of color, hue angle, opacity*/
  color: lcha(50% 50% 180 0.5) /* 0-100 0-100 0-360 0-1*/
  /* lightness, green-red, b6lue-yellow, opacity */
  color: laba(0 50% 50% 0.5) /* 0-100 -125/125|0%-100% -125/125|0%-100% 0-1 */
}

/* all psuedo classes and elements */
div:active{}/* Matches when an item is being activated by the user. For example, when the item is clicked on. */
div:any-link{}/* Matches an element if the element would match either :link or :visited */
div:autofill{} /* Matches when an <input> has been autofilled by the browser. */
div:blank{}/* Matches a user-input element which is empty, containing an empty string or other null input. */
div:checked{}/* Matches when elements such as checkboxes and radio buttons are toggled on. */
div:current{}/* Represents the element or ancestor of the element that is being displayed. */
div:default{}/* Matches one or more UI elements that are the default among a set of elements. */
div:defined{}/* represents any element that has been defined.  */
div:dir(){}/* The directionality pseudo-class selects an element based on its directionality as determined by the document language. */
div:disabled{}/* Represents a user interface element that is in a disabled state. */
div:empty{}/* Represents an element with no children other than white-space characters. */
div:enabled{} /* Represents a user interface element that is in an enabled state. */
div:first{}/* epresents the first page of a printed document */
div:first-child{}/* Matches an element that is the first of its siblings. */
div:first-of-type{}/* Matches an element that is the first of its siblings, and also matches a certain type selector. */
div:focus{}/* Matches when an element has focus. */
div:focus-visible{}/* Matches when an element has focus and the user agent identifies that the element should be visibly focused. */
div:focus-within{}/* Matches an element to which :focus applies, plus any element that has a descendant to which :focus applies. */
div:fullscreen{} /*Matches an element that is currently in fullscreen mode. */
div:future{} /* Represents an element that occurs entirely after the :current element. */
div:has(){} /* The relational pseudo-class represents an element if any of the relative selectors match when anchored against the attached element. */
div:host{}/* allows you to select a custom element from inside its shadow DOM */
div:host-context(){} /* allows a custom element, or anything within that custom element's shadow DOM, to apply different styles based on its position within the outer DOM or classes/attributes applied to ancestor elements */
div:hover{}/* Matches when a user designates an item with a pointing device, such as holding the mouse pointer over the item. */
div:indeterminate{}/* Matches UI elements when they are in an indeterminate state. */
div:in-range{}/* Applies to elements with range limitations. For example, a slider control when the selected value is in the allowed range. */
div:invalid{}/* Matches an element with invalid contents. */
div:is(){}/* The matches-any pseudo-class matches any element that matches any of the selectors in the list provided. The list is forgiving. */
div:lang(){}/* Select an element based on its content language. */
div:last-child{}/* Matches an element that is the last of its siblings. */
div:last-of-type{}/* Matches an element that is the last of its siblings, and also matches a certain type selector. */
div:left{}/* represents all left-hand pages of a printed document */
div:link{}/* Matches links that have not yet been visited. */
div:local-link{}/* Matches links whose absolute URL is the same as the target URL. For example, anchor links to the same page. */
div:modal{}/* Matches an element that is in a state in which it excludes all interaction with elements outside it until the interaction has been dismissed. */
div:not(){}/* The negation, or matches-none, pseudo-class represents any element that is not represented by its argument. */
div:nth-child(){}/* Uses An+B notation to select elements from a list of sibling elements. */
div:nth-last-child(){}/* Uses An+B notation to select elements from a list of sibling elements, counting backwards from the end of the list. */
div:nth-last-of-type(){}/* Uses An+B notation to select elements from a list of sibling elements that match a certain type from a list of sibling elements counting backwards from the end of the list. */
div:nth-of-type(){}/* Uses An+B notation to select elements from a list of sibling elements that match a certain type from a list of sibling elements. */
div:only-child{}/* Matches an element that has no siblings. For example, a list item with no other list items in that list. */
div:only-of-type{}/* Matches an element that has no siblings of the chosen type selector. */
div:optional{}/* Matches when a form element is optional. */
div:out-of-range{}/* Applies to elements with range limitations. For example, a slider control when the selected value is outside the allowed range. */
div:past{}/* Represents an element that occurs entirely before the :current element. */
div:paused{}/* Represents a media element that is capable of playing when that element is paused. */
div:picture-in-picture{}/* Matches an element that is currently in picture-in-picture mode. */
div:placeholder-shown{}/* Matches an input element that is displaying placeholder text.  */
div:playing{}/* Represents a media element that is capable of playing when that element is playing. */
div:popover-open{}/* represents a popover element (i.e. one with a popover attribute) that is in the showing state. You can use this to apply style to popover elements only when they are shown */
div:read-only{}/* Represents any element that cannot be changed by the user. */
div:read-write{}/* Represents any element that is user-editable. */
div:required{}/* Matches when a form element is required. */
div:right{}/* epresents all right-hand pages of a printed document */
div:root{}/* Represents an element that is the root of the document. In HTML this is usually the <html> element. */
div:scope{}/* Represents elements that are a reference point for selectors to match against. */
div:state(){}/* matches custom elements that have the specified custom state. */
div:target{}/* Matches the element which is the target of the document URL. */
div:target-within{}/* Matches elements which are the target of the document URL, but also elements which have a descendant which is the target of the document URL. */
div:user-valid{}/* Represents an element with correct input, but only when the user has interacted with it. */
div:user-invalid{}/* Represents an element with incorrect input, but only when the user has interacted with it. */
div:valid{}/* Matches an element with valid contents. For example, an input element with the type 'email' that contains a validly formed email address or an empty value if the control is not required. */
div:visited{}/* Matches links that have been visited. */
div:where(){}/* The specificity-adjustment pseudo-class matches any element that matches any of the selectors in the list provided without adding any specificity weight. The list is forgiving. */

div::after{}/* used to add a special style to the first letter of a text. */
div::backdrop{}/* a box the size of the viewport, which is rendered immediately beneath any element being presented in the top layer */
div::before{}/* used to insert some content before the content of an element. */
div::cue(){}/* matches WebVTT cues within a selected element. This can be used to style captions and other cues in media with VTT tracks */
div::file-selector-button{}/* represents the button of an <input> of type="file" */
div::first-letter{}/* applies styles to the first letter of the first line of a block container, but only when not preceded by other content (such as images or inline tables) */
div::first-line{}/* applies styles to the first line of a block container */
div::grammar-error{}/* represents a text segment which the user agent has flagged as grammatically incorrect. */
div::highlight(){}/* applies styles to a custom highlight. */
div::marker{}/* elects the markers of list items */
div::part(){}/* represents any element within a shadow tree that has a matching part attribute. */
div::placeholder{}/* represents the placeholder text in an <input> or <textarea> element. */
div::selection{}/* matches the portion of an element that is selected by a user. */
div::slotted(){}/* represents any element that has been placed into a slot inside an HTML template */
div::spelling-error{}/* represents a text segment which the user agent has flagged as incorrectly spelled. */
div::target-text{}/* represents the text that has been scrolled to if the browser supports text fragments. It allows authors to choose how to highlight that section of text. */
div::view-transition{}/* represents the root of the view transitions overlay, which contains all view transition snapshot groups and sits over the top of all other page content. */
div::view-transition-image-pair(){}/* represents a container for a view transition's "old" and "new" view states — before and after the transition. */
div::view-transition-group(){}/* represents a single view transition snapshot group. */
div::view-transition-new(){}/* represents the "new" view state of a view transition — a snapshot live representation of the state after the transition. */
div::view-transition-old(){}/* represents the "old" view state of a view transition — a static snapshot of the old view, before the transition. */