p{
  /* margin order */
  margin-top: 100;
  margin-right: 100;
  margin-bottom: 100;
  margin-left: 100;

  /* border */

  border-top-style: solid;
  border-top-color: red;
  border-top-width: 10;

  border-top-left-radius: 100px;
  
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.span-one{
  background-color: green;
  flex-grow: 10;
  flex-shrink: 1;
  min-width: 200px;
}

.span-two{
  background-color: blue;
  flex-grow: 1;
  flex-shrink: 10;
  min-width: 200px;
}
