body {
  background-color: #f4f4f4;
}

.slider-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.slider {
  appearance: none;
  width: 100%;
  background: linear-gradient(to right, #007bff 50%, #ddd 50%);
  border-radius: 5px;
}

.slider::-webkit-slider-runnable-track {
  height: 15px;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #007bff;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-webkit-slider-thumb:hover {
  background-color: #0056b3;
}

#slider-value {
  font-weight: bold;
}
