body {
  margin: 0;
}

.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
}

.navbar-content {
  /* TODO */
  display: flex;
  align-items: center;
}

.nav-item {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-item:hover {
  background-color: #575757;
  border-radius: 5px;
}

.hamburger-menu {
  /* TODO */
  display: flex;
  /* TODO */
  flex-direction: column;
  cursor: pointer;
  /* TODO */
  position: absolute;
}

.bar {
  background-color: white;
  height: 3px;
  width: 25px;
  margin: 3px 0;
}

.search-container {
  /* TODO */
  flex-grow: 1;
  /* TODO */
  display: flex;
  /* TODO */
  justify-content: center;
}

.search-container input {
  width: 100%;
  /* TODO */
  max-width: 400px;
  padding: 7px;
  border-radius: 5px;
  /* TODO */
  outline: none;
}

.search-container input:focus {
  border-color: #333;
}
