body {
  /* TODO */
  display: flex; 
  /* TODO */
  justify-content: center;
  /* TODO All the align properties*/
  align-items: center;
  /* TODO all the different ways of listing measurements*/
  height: 100vh;
}

.icon {
  /* TODO */
  position: relative;
}

.badge {
  /* TODO */
  position: absolute;
  right: -5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  /* TODO - lookup padding order of values*/
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}
