body {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.icon {
  position: relative;
}

.badge {
  position: absolute;
  right: -5px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}
